language: python
python:
  - "3.7"

branches:
  only:
  - master

cache:
  directories:
    - node_modules

install:
  - pip install jupyter

script:
  - pip install -r requirements.txt
  - jupyter nbconvert ciencia/ciencia.ipynb --to html --output index.html

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  local_dir: .
  on:
branch: master
